 /* Add a black background color to the top navigation */
 .mapa {
    background-color: white;
    float: left;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 5px 16px;
    text-decoration: none;
    width: 100%;
    font-size: 17px;
    font-weight: inherit;
  }
