 /* Add a black background color to the top navigation */
 .topnav {
    background-color: rgb(57, 0, 67);
    overflow: hidden;
    border-bottom: 1px double #ee00ff;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: left;
    padding: 5px 16px;
    text-decoration: none;
    width: 32%;
    font-size: 17px;
    font-weight: inherit;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover, .dropdown:hover .dropbtn  {
    background-color: #f67fff;
    color: #690070;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.logo {
    width: 4%;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
  float: left;
  display: block;
  color: #ffffff;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none;
  width: 32%;
  font-size: 17px;
  font-weight: inherit;
}


/* Dropdown button */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 5px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  width: 100%
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 32%;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  width: 100%
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {float: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav a.logo{
    float: left;
  }
  .topnav a, .dropdown .dropbtn {
    display: none;
  }
  .dropdown, .topnav a, .dropdown-content{width: 100%}
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    left: 0;
    top: 0;
}
.topnav a.logo, .topnav a.icon{width:100%}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {float: none;}
.topnav.responsive .dropdown-content {position: relative; }
.topnav.responsive .dropdown .dropbtn {
  display: block;
  text-align: left;
}
}

.page-title{
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-bottom: 10px solid #5c00571a;
}
.page-title-block{
  padding: 20px 0px 20px 0px;
  text-align: center;
  border-bottom: 10px solid #5c00571a;
  display: block;
  width: 50%;
  float: left;
}
.acompanhe{
  padding: 20px 0px 20px 0px;
  text-align: center;
}